
#section0{
		background-image: url(../img/background.jpg);
		padding: 10% 0 0 0;
		background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;

	}
	
	.slide{
		background-size: cover;
	}

	#slide1{
		background-image: url(../img/background.jpg);
		
		padding: 6% 0 0 0;
	}


	#slide2{
		background-image: url(../img/background.jpg);
		padding: 6% 0 0 0;
	}

.secondnavbar
	{
			top: 70px;
	}






